html {
  background-color: orange;
}

.page {
  margin: 0 auto;
}

.citrus-description {
  width: 960px;
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
  padding-top: 3%;
}

.header {
  display: flex;
  list-style-type: none;
  background-color: rgba(240, 82, 25, 0.5);
  z-index: 5;
  top: 0;
  position: fixed;
}

li {
  padding-right: 5px;
}
